/* CSS Document */
body {
  background: #FFF;
  color: #000000;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
}



.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:active {
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

.decorated-heading {
  color: #000000;
  position: relative;
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 1%;
}

.decorated-heading:before,
.decorated-heading:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 50px;
  height: 2px;
  background-color: #8d1812;
}

.decorated-heading:before {
  left: -50px;
}

.decorated-heading:after {
  right: -50px;
}

.endcap {
  background-color: #8d1812;
  height: 15px;
}

/* Logo Section */
.logo-section {
  padding: 1% 0% 1% 2%;
  background-color: #fff;
}

.buttondiv{
  padding-top: 1%;
}

/* Nav Section */
.nav-section {
  padding: 0% 0% 0% 17%;
  background-color: #022444;
}

.navcustom {
  background-color: #022444;
}

/* Hero Section */
.hero-wrapper {
  position: relative;
  width: 100%;
  height: 41rem;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/john-carrigg-bg-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  position: absolute;
  top: 52.6%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.phone-number-image {
  margin-top: -3%;
  width: 75%;
}

/* Practice Areas Section */
.practice-areas {
  background-image: url('../images/textured_paper.png');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  background-color: #fff;
  text-align: center;
  padding: 3% 0% 0% 0%;
}

.row {
  justify-content: center;
}

.cardrow {
  margin-top: -1%;
}

.cardcol {
  max-width: 145px;
  display: block;
  background-color: #1c3a5e;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  padding: 15px;
  margin: 2%;
  text-align: center;
}

.cardcol:hover {
  background-color: #8d1812;
}

.card img {
  height: auto;
}

.card h3 {
  font-size: 18px;
}

.card-icon {
  max-width: 35%;
  padding-bottom: 15%;
}

/* Lexington SC Injury Lawyer Section */
.attbio {
  background-image: url('../images/textured_paper.png');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  text-align: center;
  padding: 1% 15% 0% 15%;
}

.biodiv {
	margin-top: 0%;
}

.biotext {
  text-align: justify;
  display: inline-block;
  padding: 0% 0% 0% 0%;
}

.centered-list {
  text-align: center;
}

.centered-list ul {
  display: inline-block;
  text-align: left;
}

.centered-list li {
  text-align: left;
}

.left-img-div {
  overflow: auto;
}

.left-img {
  float: left;
  margin-right: 15px;
  width: 5.5rem;
  border-radius: 10px;
  border: 2px solid #152542;
}

/* Why Choose Us? Section */
.whychooseus {
  padding: 2% 0% 0% 0%;
  background-image: url('../images/textured_paper.png');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  text-align: center;
}

.chooseheader {
  padding: 0% 0% 2.3% 0%;
}

.chooserow {
  padding: 3% 0% 0% 0%;
  background-color: #8d1812;
  height: 240px;
}

.choosediv {
  width: 340px;
  padding: 0% 3% 0% 3%;
}

.chooseimg {
  position: relative;
  top: -66px;
  left: 0%;
}

/* Footer Section */
.footer-section {
  background-image: url('../images/bg-fotter-2.jpg');
  background-size: cover;
  background-position: top 15% center;
  background-repeat: no-repeat;
  text-align: center;
}

.footer1 {
  padding: 3% 0% 1% 0%;
}

.bottom-logo {
  max-width: 240px;
  margin-bottom: 20px;
}

.award-img {
  max-width: 200px;
  margin-top: 10px;
}

.site-map ul {
  list-style-type: none;
  padding: 0;
}

.site-map ul li {
  margin-bottom: 6px;
}

.site-map ul li a {
  color: #333;
  text-decoration: none;
}

.footer2 {
  font-size: 12px;
  background-color: #022444;
  color: #fff;
  line-height: 35px;
  display: inline-block;
  padding: 1% 24% 0% 24%;
  width: 100%;
}

/* Style for buttons */
.top-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 2% 2%;
  border: 3px solid #152542;
  border-radius: 18px;
  background: #8d1812;
  background: -webkit-gradient(linear, left top, left bottom, from(#8d1812), to(#7d2b20));
  background: -moz-linear-gradient(top, #7d2b20, #7d2b20);
  background: linear-gradient(to bottom, #7d2b20, #7d2b20);
  font: normal normal normal 20px times new roman;
  color: #ffffff;
  text-decoration: none;
}

.button:hover,
.button:focus {
  border: 2px solid #355da5;
  background: #8d1812;
  background: -webkit-gradient(linear, left top, left bottom, from(#963426), to(#963426));
  background: -moz-linear-gradient(top, #963426, #963426);
  background: linear-gradient(to bottom, #963426, #963426);
  color: #ffffff;
  text-decoration: none;
}

.button:active {
  background: #4b1a13;
  background: -webkit-gradient(linear, left top, left bottom, from(#4b1a13), to(#7d2b20));
  background: -moz-linear-gradient(top, #4b1a13, #7d2b20);
  background: linear-gradient(to bottom, #4b1a13, #7d2b20);
}

/* Desktop & Laptop Breakpoints */
@media (max-width: 1536px) {
  .nav-section {
    padding: 0% 0% 0% 5.5%;
  }

  .hero-wrapper {
    width: 100%;
    height: 560px;
  }

  .hero-content {
    top: 54.6%;
    left: 40%;
    width: 480px;
  }

  .cardcol {
    max-width: 125px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 2%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 145px;
  }
  
  .choosediv {
    max-width: 220px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -49px;
    left: 0%;
  }

  .footer2 {
    font-size: 12px;
    background-color: #1c3a5e;
    color: #fff;
    line-height: 35px;
    display: inline-block;
    padding: 1% 10% 0% 10%;
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .nav-section {
    padding: 0% 0% 0% 5.5%;
  }

  .hero-wrapper {
    width: 100%;
    height: 560px;
  }

  .hero-content {
    top: 54.5%;
    left: 40%;
    width: 480px;
  }

  .cardcol {
    max-width: 125px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 2%;
  }
	
	.biodiv {
		margin-top: -1%;
	}

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 145px;
  }
  
  .choosediv {
    max-width: 220px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -49px;
    left: 0%;
  }

  .footer2 {
    font-size: 12px;
    background-color: #1c3a5e;
    color: #fff;
    line-height: 35px;
    display: inline-block;
    padding: 1% 10% 0% 10%;
    width: 100%;
  }
}

@media (max-width: 1366px) {
  .nav-section {
    padding: 0% 0% 0% 9.5%;
  }

  .hero-wrapper {
    width: 100%;
    height: 560px;
  }

  .hero-content {
    top: 54.6%;
    left: 40%;
    width: 480px;
  }

  .cardcol {
    max-width: 125px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 2%;
  }
	
	.biodiv {
		margin-top: -1%;
	}

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 145px;
  }
  
  .choosediv {
    max-width: 220px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -47px;
    left: 0%;
  }

  .footer2 {
    font-size: 12px;
    background-color: #1c3a5e;
    color: #fff;
    line-height: 35px;
    display: inline-block;
    padding: 1% 10% 0% 10%;
    width: 100%;
  }
}

/* Tablet Breakpoints */
@media (max-width: 1280px) {
  .nav-section {
    padding: 0% 0% 0% 6.8%;
  }

  .hero-wrapper {
    width: 100%;
    height: 460px;
  }

  .hero-content {
    top: 52.8%;
    left: 38%;
    width: 420px;
  }

  .cardcol {
    max-width: 105px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 2%;
  }
	
  .biodiv {
	margin-top: -1%;  
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 146px;
  }
  
  .choosediv {
    max-width: 220px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -44px;
    left: 0%;
  }

  .footer2 {
    font-size: 12px;
    background-color: #1c3a5e;
    color: #fff;
    line-height: 35px;
    display: inline-block;
    padding: 1% 10% 0% 10%;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .top-button {
    text-align: center;
    width: 50%;
    font-size: 16px;
  }

  .logo-section {
    text-align: center;
  }

  .hero-wrapper {
    width: 100%;
    height: 360px;
  }

  .hero-content {
    top: 44.1%;
    left: 35%;
    width: 41%;
  }
	
  .phone-number-image {
	width: 70%	
  }
	
  .cardspace {
	margin-top:	1%;
  }

  .cardcol {
    max-width: 120px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 1%;
  }

  .card-text {
    font-size: 16px;
  }
	
  .biodiv {
	margin-top: 2%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 130px;
  }
  
  .choosediv {
    max-width: 185px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -34px;
    left: 0%;
  }
	
  .footer2 {
    font-size: 12px;
    background-color: #1c3a5e;
    color: #fff;
    line-height: 35px;
    display: inline-block;
    padding: 1% 8% 0% 8%;
    width: 100%;
  }
}

@media (max-width: 962px) {
  .top-button {
    text-align: center;
    width: 50%;
    font-size: 16px;
  }

  .logo-section {
    text-align: center;
  }

  .hero-wrapper {
    width: 100%;
    height: 360px;
  }

  .hero-content {
    top: 46.3%;
    left: 35%;
    width: 41%;
  }
	
  .phone-number-image {
	width: 70%	
  }
	
  .cardspace {
	margin-top:	2%;
  }

  .cardcol {
    max-width: 120px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 1%;
  }

  .card-text {
    font-size: 16px;
  }
	
  .biodiv {
	margin-top: 1%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 130px;
  }
  
  .choosediv {
    max-width: 185px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -34px;
    left: 0%;
  }
	
  .footer2 {
    font-size: 12px;
    background-color: #1c3a5e;
    color: #fff;
    line-height: 35px;
    display: inline-block;
    padding: 1% 8% 0% 8%;
    width: 100%;
  }
}

@media (max-width: 810px) {
  .top-button {
    text-align: center;
    width: 50%;
    font-size: 16px;
  }

  .logo-section {
    text-align: center;
  }

  .hero-wrapper {
    width: 100%;
    height: 360px;
  }

  .hero-content {
    top: 50.5%;
    left: 37%;
    width: 44%;
  }
	
  .cardspace {
	margin-top:	2%;
  }

  .cardcol {
    max-width: 160px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 3%;
  }

  .card-text {
    font-size: 16px;
  }
	
  .biodiv {
	margin-top: 1%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 125px;
  }
  
  .choosediv {
    max-width: 165px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -28px;
    left: 0%;
  }
}

@media (max-width: 800px) {
  .top-button {
    text-align: center;
    width: 50%;
    font-size: 16px;
  }

  .logo-section {
    text-align: center;
  }

  .hero-wrapper {
    width: 100%;
    height: 360px;
  }

  .hero-content {
    top: 51.1%;
    left: 37%;
    width: 44%;
  }
	
  .cardspace {
	margin-top:	2%;
  }

  .cardcol {
    max-width: 160px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 3%;
  }

  .card-text {
    font-size: 16px;
  }
	
  .biodiv {
	margin-top: 1%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 125px;
  }
  
  .choosediv {
    max-width: 165px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -28px;
    left: 0%;
  }
}

@media (max-width: 768px) {
  .top-button {
    text-align: center;
    width: 50%;
    font-size: 16px;
  }

  .logo-section {
    text-align: center;
  }

  .hero-wrapper {
    width: 100%;
    height: 360px;
  }

  .hero-content {
    top: 52.6%;
    left: 37%;
    width: 44%;
  }

  .cardcol {
    max-width: 90px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 2%;
  }

  .card-text {
    font-size: 14px;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 125px;
  }
  
  .choosediv {
    max-width: 165px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -27px;
    left: 0%;
  }
}

@media (max-width: 601px) {
  .logoimg {
    width: 85%;
    padding-bottom: 2%;
  }

  .logo-section {
    text-align: center;
    padding: 1% 0% 3% 3%;
  }

  .top-button {
    text-align: center;
    width: 50%;
    font-size: 12px;
  }

  .logo-section {
    text-align: center;
  }

  .nav-container {
    white-space: nowrap;
    text-align: center;
    font-size: small;
  }

  .hero-wrapper {
    width: 100%;
    height: 320px;
  }

  .hero-content {
    top: 53%;
    left: 34%;
    width: 49%;
  }

  .phone-number-image {
    margin-top: -3%;
    width: 70%;
  }
	
  .cardspace {
	margin-top:	4%;
  }

  .cardcol {
    max-width: 135px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 3%;
  }

  .card-text {
    font-size: 14px;
  }

  .attbio {
    padding: 2% 10% 0% 10%;
  }
  
  .biotext {
    text-align: justify;
    display: inline-block;
    padding: 0% 0% 0% 0%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 140px;
  }
  
  .choosediv {
    max-width: 150px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -22px;
    left: 0%;
  }
}

@media (max-width: 576px) {
  .logoimg {
    width: 85%;
    padding-bottom: 2%;
  }

  .logo-section {
    text-align: center;
    padding: 1% 0% 3% 3%;
  }

  .top-button {
    text-align: center;
    width: 50%;
    font-size: 12px;
  }

  .logo-section {
    text-align: center;
  }

  .nav-container {
    white-space: nowrap;
    text-align: center;
    font-size: small;
  }

  .hero-wrapper {
    width: 100%;
    height: 320px;
  }

  .hero-content {
    top: 57.3%;
    left: 34%;
    width: 45%;
  }

  .phone-number-image {
    margin-top: -3%;
    width: 80%;
  }
	
  .cardspace {
	margin-top:	4%;
  }

  .cardcol {
    max-width: 135px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 3%;
  }

  .card-text {
    font-size: 14px;
  }

  .attbio {
    padding: 2% 10% 0% 10%;
  }
  
  .biotext {
    text-align: justify;
    display: inline-block;
    padding: 0% 0% 0% 0%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 120px;
  }
  
  .choosediv {
    max-width: 120px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -20px;
    left: 0%;
  }
}

/* Mobile Breakpoints */
@media (max-width: 425px) {
  .logoimg {
    width: 85%;
    padding-bottom: 2%;
  }

  .logo-section {
    text-align: center;
    padding: 1% 0% 3% 3%;
  }

  .top-button {
    text-align: center;
    width: 50%;
    font-size: 12px;
  }

  .logo-section {
    text-align: center;
  }

  .nav-container {
    white-space: nowrap;
    text-align: center;
    font-size: small;
  }

  .hero-wrapper {
    width: 100%;
    height: 240px;
  }

  .hero-content {
    top: 51.5%;
    left: 34%;
    width: 54%;
  }

  .phone-number-image {
    margin-top: -8%;
    width: 70%;
  }
	
  .cardspace {
	margin-top:	4%;
  }

  .cardcol {
    max-width: 90px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 3%;
  }

  .card-text {
    font-size: 14px;
  }

  .attbio {
    padding: 2% 10% 0% 10%;
  }
  
  .biotext {
    text-align: justify;
    display: inline-block;
    padding: 0% 0% 0% 0%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 120px;
  }
  
  .choosediv {
    max-width: 120px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -14px;
    left: 0%;
  }
}

@media (max-width: 414px) {
  .logoimg {
    width: 85%;
    padding-bottom: 2%;
  }

  .logo-section {
    text-align: center;
    padding: 1% 0% 3% 3%;
  }

  .top-button {
    text-align: center;
    width: 50%;
    font-size: 12px;
  }

  .logo-section {
    text-align: center;
  }

  .nav-container {
    white-space: nowrap;
    text-align: center;
    font-size: small;
  }

  .hero-wrapper {
    width: 100%;
    height: 240px;
  }

  .hero-content {
    top: 52.7%;
    left: 34%;
    width: 54%;
  }

  .phone-number-image {
    margin-top: -8%;
    width: 70%;
  }
	
  .cardspace {
	margin-top:	4%;
  }

  .cardcol {
    max-width: 90px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 2%;
  }

  .card-text {
    font-size: 14px;
  }

  .attbio {
    padding: 2% 10% 0% 10%;
  }
  
  .biotext {
    text-align: justify;
    display: inline-block;
    padding: 0% 0% 0% 0%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 120px;
  }
  
  .choosediv {
    max-width: 120px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -14px;
    left: 0%;
  }
}

@media (max-width: 393px) {
  .logoimg {
    width: 85%;
    padding-bottom: 2%;
  }

  .logo-section {
    text-align: center;
    padding: 1% 0% 3% 3%;
  }

  .top-button {
    text-align: center;
    width: 50%;
    font-size: 12px;
  }

  .logo-section {
    text-align: center;
  }

  .nav-container {
    white-space: nowrap;
    text-align: center;
    font-size: small;
  }

  .hero-wrapper {
    width: 100%;
    height: 240px;
  }

  .hero-content {
    top: 55.3%;
    left: 35%;
    width: 54%;
  }

  .phone-number-image {
    margin-top: -8%;
    width: 70%;
  }
	
  .cardspace {
	margin-top:	4%;
  }

  .cardcol {
    max-width: 90px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 2%;
  }

  .card-text {
    font-size: 14px;
  }

  .attbio {
    padding: 2% 10% 0% 10%;
  }
  
  .biotext {
    text-align: justify;
    display: inline-block;
    padding: 0% 0% 0% 0%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 120px;
  }
  
  .choosediv {
    max-width: 120px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -14px;
    left: 0%;
  }
}

@media (max-width: 390px) {
  .logoimg {
    width: 85%;
    padding-bottom: 2%;
  }

  .logo-section {
    text-align: center;
    padding: 1% 0% 3% 3%;
  }

  .top-button {
    text-align: center;
    width: 50%;
    font-size: 12px;
  }

  .logo-section {
    text-align: center;
  }

  .nav-container {
    white-space: nowrap;
    text-align: center;
    font-size: small;
  }

  .hero-wrapper {
    width: 100%;
    height: 240px;
  }

  .hero-content {
    top: 55.3%;
    left: 35%;
    width: 54%;
  }

  .phone-number-image {
    margin-top: -8%;
    width: 70%;
  }
	
  .cardspace {
	margin-top:	4%;
  }

  .cardcol {
    max-width: 90px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 2%;
  }

  .card-text {
    font-size: 14px;
  }

  .attbio {
    padding: 2% 10% 0% 10%;
  }
  
  .biotext {
    text-align: justify;
    display: inline-block;
    padding: 0% 0% 0% 0%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 120px;
  }
  
  .choosediv {
    max-width: 120px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -14px;
    left: 0%;
  }
}

@media (max-width: 384px) {
  .logoimg {
    width: 85%;
    padding-bottom: 2%;
  }

  .logo-section {
    text-align: center;
    padding: 1% 0% 3% 3%;
  }

  .top-button {
    text-align: center;
    width: 50%;
    font-size: 12px;
  }

  .logo-section {
    text-align: center;
  }

  .nav-container {
    white-space: nowrap;
    text-align: center;
    font-size: small;
  }

  .hero-wrapper {
    width: 100%;
    height: 240px;
  }

  .hero-content {
    top: 55.3%;
    left: 35%;
    width: 54%;
  }

  .phone-number-image {
    margin-top: -8%;
    width: 70%;
  }
	
  .cardspace {
	margin-top:	4%;
  }

  .cardcol {
    max-width: 90px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 2%;
  }

  .card-text {
    font-size: 14px;
  }

  .attbio {
    padding: 2% 10% 0% 10%;
  }
  
  .biotext {
    text-align: justify;
    display: inline-block;
    padding: 0% 0% 0% 0%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 120px;
  }
  
  .choosediv {
    max-width: 120px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -14px;
    left: 0%;
  }
}

@media (max-width: 375px) {
  .logoimg {
    width: 85%;
    padding-bottom: 2%;
  }

  .logo-section {
    text-align: center;
    padding: 1% 0% 3% 3%;
  }

  .top-button {
    text-align: center;
    width: 50%;
    font-size: 12px;
  }

  .logo-section {
    text-align: center;
  }

  .nav-container {
    white-space: nowrap;
    text-align: center;
    font-size: small;
  }

  .hero-wrapper {
    width: 100%;
    height: 240px;
  }

  .hero-content {
    top: 56.1%;
    left: 35%;
    width: 54%;
  }

  .phone-number-image {
    margin-top: -8%;
    width: 70%;
  }
	
  .cardspace {
	margin-top:	4%;
  }

  .cardcol {
    max-width: 90px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 2%;
  }

  .card-text {
    font-size: 14px;
  }

  .attbio {
    padding: 2% 10% 0% 10%;
  }
  
  .biotext {
    text-align: justify;
    display: inline-block;
    padding: 0% 0% 0% 0%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 120px;
  }
  
  .choosediv {
    max-width: 120px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -14px;
    left: 0%;
  }
}

@media (max-width: 360px) {
  .logoimg {
    width: 85%;
    padding-bottom: 2%;
  }

  .logo-section {
    text-align: center;
    padding: 1% 0% 3% 3%;
  }

  .top-button {
    text-align: center;
    width: 50%;
    font-size: 12px;
  }

  .logo-section {
    text-align: center;
  }

  .nav-container {
    white-space: nowrap;
    text-align: center;
    font-size: small;
  }

  .hero-wrapper {
    width: 100%;
    height: 240px;
  }

  .hero-content {
    top: 58%;
    left: 36%;
    width: 54%;
  }

  .phone-number-image {
    margin-top: -8%;
    width: 70%;
  }
	
  .cardspace {
	margin-top:	4%;
  }

  .cardcol {
    max-width: 90px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 2%;
  }

  .card-text {
    font-size: 14px;
  }

  .attbio {
    padding: 2% 10% 0% 10%;
  }
  
  .biotext {
    text-align: justify;
    display: inline-block;
    padding: 0% 0% 0% 0%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 120px;
  }
  
  .choosediv {
    max-width: 120px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -14px;
    left: 0%;
  }
}

@media (max-width: 328px) {
  .logoimg {
    width: 85%;
    padding-bottom: 2%;
  }

  .logo-section {
    text-align: center;
    padding: 1% 0% 3% 3%;
  }

  .top-button {
    text-align: center;
    width: 50%;
    font-size: 12px;
  }

  .logo-section {
    text-align: center;
  }

  .nav-container {
    white-space: nowrap;
    text-align: center;
    font-size: small;
  }

  .hero-wrapper {
    width: 100%;
    height: 210px;
  }

  .hero-content {
    top: 54.1%;
    left: 33%;
    width: 60%;
  }

  .phone-number-image {
    margin-top: -8%;
    width: 70%;
  }
	
  .cardspace {
	margin-top:	4%;
  }

  .cardcol {
    max-width: 90px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 10px;
    margin: 2%;
  }

  .card-text {
    font-size: 12px;
  }

  .attbio {
    padding: 2% 10% 0% 10%;
  }
  
  .biotext {
    text-align: justify;
    display: inline-block;
    padding: 0% 0% 0% 0%;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 95px;
  }
  
  .choosediv {
    max-width: 110px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -13px;
    left: 0%;
  }
}
