/* CSS Document */
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:active {
  color: #fff;
}

.endcap {
  background-color: #8d1812;
  height: 15px;
}

/* Logo Section */
.logo-section {
	padding: 2% 0% 1% 3%;
  background-color: #fff;
}

/* Nav Section */
.nav-section {
  padding: 0% 0% 0% 32.2%;
	background-color: #142441;
}

.navcustom {
  background-color: #142441;
}

/* Hero Section */
.hero-wrapper {
  position: relative;
  width: 100%;
  height: 660px;
}
  
  .hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/john-carrigg-bg-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hero-content {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 560px;
    text-align: center;
  }
  
  .phone-number-image {
    margin-top: -3%;
    width: 75%;
  }

/* Practice Areas Section */
  .practice-areas {
    background-image: url('../images/textured_paper.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-color: #fff;
    text-align: center;
    padding: 3% 0% 2% 0%;
  }
  
  .row {
    justify-content: center;
  }

  .cardcol {
    max-width: 145px;
    display: block;
    background-color: #1c3a5e;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 15px;
    margin: 2%;
  }
  
  .cardcol:hover {
    background-color: #8d1812;
  }
  
  .card img {
    height: auto;
  }
  
  .card h3 {
    font-size: 18px;
  }

  .card-icon {
    max-width: 35%;
    padding-bottom: 15%;
  }

  .decorated-heading {
    color: #000000;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    padding: 0 20px;
  }
  
  .decorated-heading:before,
  .decorated-heading:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px;
    height: 2px;
    background-color: #8d1812;
  }
  
  .decorated-heading:before {
    left: -50px;
  }
  
  .decorated-heading:after {
    right: -50px;
  }

  /* Lexington SC Injury Lawyer Section */
  .attbio {
    background-image: url('../images/textured_paper.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    text-align: center;
    padding: 2% 15% 0% 15%;
  }

  .biotext {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    padding: 0% 0% 0% 0%;
  }

  /* Why Choose Us? Section */
  .whychooseus {
    padding: 3% 0% 0% 0%;
    background-image: url('../images/textured_paper.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }

  .chooserow {
    padding: 3% 0% 0% 0%;
    background-color: #8d1812;
    height: 240px;
  }

  .choosediv {
    width: 340px;
    padding: 0% 3% 0% 3%;
  }

  .chooseimg {
    position: relative;
    top: -66px;
    left: 0%;
  }

  /* Style for buttons */
.top-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 9px 16px;
  border: 3px solid #152542;
  border-radius: 18px;
  background: #8d1812;
  background: -webkit-gradient(linear, left top, left bottom, from(#8d1812), to(#7d2b20));
  background: -moz-linear-gradient(top, #7d2b20, #7d2b20);
  background: linear-gradient(to bottom, #7d2b20, #7d2b20);
  font: normal normal normal 20px times new roman;
  color: #ffffff;
  text-decoration: none;
}
.button:hover,
.button:focus {
  border: 2px solid #355da5;
  background: #8d1812;
  background: -webkit-gradient(linear, left top, left bottom, from(#963426), to(#963426));
  background: -moz-linear-gradient(top, #963426, #963426);
  background: linear-gradient(to bottom, #963426, #963426);
  color: #ffffff;
  text-decoration: none;
}
.button:active {
  background: #4b1a13;
  background: -webkit-gradient(linear, left top, left bottom, from(#4b1a13), to(#7d2b20));
  background: -moz-linear-gradient(top, #4b1a13, #7d2b20);
  background: linear-gradient(to bottom, #4b1a13, #7d2b20);
}

img {
  width: 100%; /* Image will always take 100% width of its container */
  height: auto; /* Maintain aspect ratio */
}
  
 /* Breakpoints */
@media (max-width: 425px) {
  .logoimg {
    width: 85%;
    padding-bottom: 2%;
  }
  .logo-section {
    text-align: center;
    padding: 1% 0% 3% 3%;
  }
  .top-button {
    text-align: center;
    width: 50%;
    font-size: 12px;
  }
  .logo-section {
    text-align: center;
  }
  .nav-container {
    white-space: nowrap;
    text-align: center;
    font-size: small;
  }
  .hero-wrapper {
    width: 100%;
    height: 240px;
  }
  .hero-content {
    top: 57.6%;
    left: 37%;
    width: 44%;
  }
}

@media (max-width: 576px) {
  .logo-section {
    padding: 1% 0% 2% 3%;
  }
  .top-button {
    text-align: center;
    width: 38%;
    font-size: 14px;
  }
  .logo-section {
    text-align: center;
  }
  .hero-wrapper {
    width: 100%;
    height: 260px;
  }
  .hero-content {
    top: 53.9%;
    left: 39%;
    width: 39%;
  }
}

@media (max-width: 768px) {
  .top-button {
    text-align: center;
    width: 50%;
    font-size: 16px;
  }
  .logo-section {
    text-align: center;
  }
  .hero-wrapper {
    width: 100%;
    height: 360px;
  }
  .hero-content {
    top: 51.8%;
    left: 37%;
    width: 44%;
  }
}

@media (max-width: 1024px) {
  .nav-section {
    padding: 0% 0% 0% 4.3%;
  }
  .hero-wrapper {
    width: 100%;
    height: 460px;
  }
  .hero-content {
    top: 52.8%;
    left: 38%;
    width: 420px;
  }
}

@media (max-width: 1440px) {
  .nav-section {
    padding: 0% 0% 0% 5.5%;
  }
  .hero-wrapper {
    width: 100%;
    height: 560px;
  }
  .hero-content {
    top: 54.4%;
    left: 40%;
    width: 480px;
  }
}

@media (max-width: 1920px) {
  .nav-section {
    padding: 0% 0% 0% 17%;
  }
  .hero-wrapper {
    width: 100%;
    height: 660px;
  }
  .hero-content {
    top: 54.8%;
    left: 41%;
    width: 560px;
  }
}
